<template name="dayPicker">
	<footer class="navbar navbar-inverse navbar-fixed-bottom">
		<div class="btn-group btn-group-justified">
			<div class="btn-group">
				<button type="button" id="back" class="btn btn-menu-nav icon ion-chevron-left"></button>
			</div>
			<div class="btn-group">
				<p class="between-buttons">{{dayName}}</p>
			</div>
			<div class="btn-group">
				<button type="button" id="forward" class="btn btn-menu-nav icon ion-chevron-right"></button>
			</div>
		</div>
	</footer>
</template>