<template name="hours">
	<div class="container">
		<div class="card">
			<h4>Thorne</h4>
			<p class="menuItem"><b>Monday - Friday</b></p>
			<p class="menuItem">Hot Breakfast</p>
			<p class="attributes">7:30AM - 9:30AM</p>
			<p class="menuItem">Hot Lunch</p>
			<p class="attributes">11:30AM - 1:30PM</p>
			<p class="menuItem">Deli/Soup/Salad</p>
			<p class="attributes">11:00AM - 1:30PM</p>
			<p class="menuItem">Dinner</p>
			<p class="attributes">5:00PM - 7:30PM</p>
			<p class="menuItem"><b>Thursday, Friday & Saturday</b></p>
			<p class="menuItem">Super Snack</p>
			<p class="attributes">10:00PM - 1:00AM</p>
			<p class="menuItem"><b>Saturday & Sunday</b></p>
			<p class="menuItem">Brunch</p>
			<p class="attributes">11:00AM - 1:30PM</p>
			<p class="menuItem">Dinner</p>
			<p class="attributes">5:00PM - 7:30PM</p>
		</div>
		<div class="card">
			<h4>Moulton</h4>
			<p class="menuItem"><b>Monday - Friday</b></p>
			<p class="menuItem">Hot Breakfast</p>
			<p class="attributes">7:15AM - 9:00AM</p>
			<p class="menuItem">Cont. Breakfast</p>
			<p class="attributes">9:00AM - 10:30AM</p>
			<p class="menuItem">Lunch</p>
			<p class="attributes">11:00AM - 2:00PM</p>
			<p class="menuItem">Dinner</p>
			<p class="attributes">5:00PM - 7:00PM</p>
			<p class="menuItem"><b>Saturday & Sunday</b></p>
			<p class="menuItem">Breakfast</p>
			<p class="attributes">9:00AM - 11:00AM</p>
			<p class="menuItem">Brunch</p>
			<p class="attributes">11:00AM - 12:30PM</p>
			<p class="menuItem">Dinner</p>
			<p class="attributes">5:00PM - 7:00PM</p>
		</div>
		<div class="card">
			<h4>Jack Magee's Pub & Grill</h4>
			<p class="menuItem"><b>Monday - Wednesday</b></p>
			<p class="attributes">11:30AM - Midnight</p>
			<p class="menuItem"><b>Thursday - Friday</b></p>
			<p class="attributes">11:30AM - 1:00AM</p>
			<p class="menuItem"><b>Saturday</b></p>
			<p class="attributes">6:00PM - Midnight</p>
			<p class="menuItem"><b>Sunday</b></p>
			<p class="attributes">6:30PM - Midnight</p>
		</div>
	</div>
</template>