<head>
	<title>Bowdoin Dining & OneCard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0 minimum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Bowdoin Dining">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#000">
	<meta name="msapplication-navbutton-color" content="#000">
	<link rel="manifest" href="/manifest.json">
	<link rel="apple-touch-icon" sizes="152x152" href="icons/152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="icons/167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="icons/180.png">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
  <link href="css/ionicons.css" rel="stylesheet" type="text/css" />
	<link rel="icon" type="image/png" href="favicon.png">
</head>

<body>
	{{> navDrawer}}

	<div id='header'>
		<label for='menu-checkbox' class="hamburger-menu"></label>
		<h4 class="title">{{title}}</h4>
	</div>
	<div id='content'>
		{{> Template.dynamic template=template}}
	</div>
	{{> Template.dynamic template=toolbar}}
</body>
